.animation(@ani){
	-webkit-animation: @ani;
	-moz-animation: @ani;
	-ms-animation: @ani;
	-o-aimation:@ani;
	animation: @ani;
	
}
.animation-fill-mode(@animation-fill-mode:forwards){
	-webkit-animation-fill-mode: @animation-fill-mode;
	-moz-animation-fill-mode: @animation-fill-mode;
	-ms-animation-fill-mode: @animation-fill-mode;
	-o-animation-fill-mode:@animation-fill-mode;
	animation-fill-mode:@animation-fill-mode;
}

.transform-origin(@transform-origin){
	-webkit-transform-origin: @transform-origin;
	-moz-transform-origin: @transform-origin;
	-ms-transform-origin: @transform-origin;
	-o-transform-origin: @transform-origin;
	transform-origin: @transform-origin;
	
}


.border-radius(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -ms-box-shadow: @arguments;
  -o-box-shadow: @arguments;
  box-shadow: @arguments;
}

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.scale(@ratio){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  -ms-transform:scale(@ratio);
  -o-transform:scale(@ratio);
  transform:scale(@ratio);
}

.rotation(@deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}
.opacity(@opacity) {
  -o-opacity: @opacity;
  -ms-opacity: @opacity;
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
