@import "mixins/mixins";

@bg-colour:#d0d0d0;

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */


@font-face {
    font-family: 'isnt-tilregular';
    src: url('../fonts/isnt-til-regular-webfont.eot');
    src: url('../fonts/isnt-til-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/isnt-til-regular-webfont.woff') format('woff'),
         url('../fonts/isnt-til-regular-webfont.ttf') format('truetype'),
         url('../fonts/isnt-til-regular-webfont.svg#isnt-tilregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gooddog';
    src: url('../fonts/GoodDog.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'opendyslexicregular';
    src: url('../fonts/opendyslexic-webfont.eot');
    src: url('../fonts/opendyslexic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opendyslexic-webfont.woff') format('woff'),
         url('../fonts/opendyslexic-webfont.ttf') format('truetype'),
         url('../fonts/opendyslexic-webfont.svg#opendyslexicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

	body {
		background-color: #F9F9F9;
		font-family: 'isnt-tilregular';
		color: #373737;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
		position: static !important;

	}
	p{
		font-family: inherit;
		color: inherit;
		line-height: 1.3em;
	}
	li{
		list-style: none;
		float: left;
	}
	.hidden{
		height: 0px;
		position: absolute;
		top: -400px;
	}
	nav{
		position: fixed;
		width: 100% !important;
		top: 0px;
		z-index: -1;
		border-bottom: 1px solid #ededed;
		background-color: @bg-colour;
		z-index: 0;
		
		.four{
			text-align: center;
			height: 95px;
			overflow: hidden;
			cursor: pointer;
			text-indent: -1000px;
			
			&:hover:before{
				position: absolute;
				height: 1px;
				width: 50%;
				content: "";
				top: 17px;
				left: 50%;
				margin-left: -25%;
				background-color: #5a5a5a;
				border-bottom: 1px solid #e6e6e6;
			}
			
			&:hover:after{
				position: absolute;
				height: 1px;
				width: 50%;
				content: "";
				bottom: 17px;
				left: 50%;
				margin-left: -25%;
				background-color: #5a5a5a;
				border-bottom: 1px solid #e6e6e6;
			}
			
		}
		a{
			position: absolute;
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: #e6e6e6;
			
			&:hover{
				text-decoration: none;
				color: #e6e6e6;
			}
		}
		.why{
			background: transparent url("../img/blog.png") no-repeat center center;
		}
		.d_gallery{
			background: transparent url("../img/gallery.png") no-repeat center center;
		}
		.donate{
			background: transparent url("../img/donate.png") no-repeat center center;
			&:before{
				position: absolute;
				height: 1px;
				width: 50%;
				content: "";
				top: 17px;
				left: 50%;
				margin-left: -25%;
				background-color: #5a5a5a;
				border-bottom: 1px solid #e6e6e6;
			}
			
			&:after{
				position: absolute;
				height: 1px;
				width: 50%;
				content: "";
				bottom: 17px;
				left: 50%;
				margin-left: -25%;
				background-color: #5a5a5a;
				border-bottom: 1px solid #e6e6e6;
			}
		}
	}
	header{
		position: fixed;
		top:95px;
		background: transparent url("../img/header_bg.png") repeat;
		width: 100%;
		padding: 40px 0;
		box-shadow: inset 0px 0px 45px rgba(0,0,0,0.4);
		z-index: -2;
		
		.row{
			
			.nine{
				height: 305px - 40;
				background: transparent url("../img/header_img.png") no-repeat center 0px;
				background-size: 350px auto;
			

			}
		}
		
	}
	.container{
		background-color: @bg-colour;
		width: 100%;
		z-index: 0;
		margin-top: 400px;
		border-top: 1px solid #ededed;
	}
	.stache{
		.four{
			top:-50px;
		}
		img{
			display: block;
			margin: auto;
			
		}
	}
	.content{
		background-color: @bg-colour;
		margin-bottom: 80px;
		.six{
			span{
				font-family: "gooddog";
				font-weight: bold;
				color: #542D08;
				font-size: 19px;
			}
		}
	}
	.day{
		color: grey;
		text-align: center;
		width: 100%;
		text-shadow: 0px 1px 0px white;
		margin-top: 30px;
		position: relative;
		
		&:before{
			content: "";
			position: absolute;
			width: 50%;
			height: 1px;
			left: 50%;
			background-color: lightGrey;
			border-bottom: 1px solid white;
			top: -10px;
			margin-left: -25%;
		}
		&:after{
			content: "";
			position: absolute;
			width: 50%;
			height: 1px;
			left: 50%;
			background-color: lightGrey;
			border-bottom: 1px solid white;
			top: 25px;
			margin-left: -25%;
		}
	}

	.gallery{
		background: #f9f9f9;
		width: 100%;
		margin-bottom: 100px;
		
		.header{
			.four{
				margin-top: 30px;
				margin-bottom: 30px;
			}
			img{
				display: block;
				margin: auto;
			}
		}
		
		
		.four{
			padding: 30px 15px 15px 15px;
			
			.frame{
				position: relative;
				box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.5);
			}
		}
		.ten{
			top:4px;
			
			img{
				display: block;
				margin: auto;
			}
		}
		
	}
	
	footer{
		background: @bg-colour;
		box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.1);
		.row{
			text-align: center;
			line-height: 95px;
			color: grey;
			
			#footer_top{
				text-align: right;
			}
			#font{
				text-align: left;
				cursor: pointer;
			}

			.columns{
				padding: 0px;
			}

			.three{
				font-size: 1.5em;
				height: 95px;
			}
			.four{
				font-size: 2.5em;
				height: 95px;
			}
			.one{
				
				ul{
					width: 160px;
				}
			
				li{
					height: 95px;
					line-height: 95px;
					text-align: left;
				}
				.subscribe{
						width: 40px;
					}
				.rss{
					width: 18px;
					margin-top: 2px;
				}
				
			}
		}
		
		a{
			color: grey;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			
			&:hover{
				color: darkgrey;
			}
		}
	}
	
	img.replaced{
		padding-top: 2px;
		height: 1em;
	}
	
	
	#oldbrowser{
		width: 60%;
		margin-left: -30%;
	}

	
	
	#twitter-widget-0{
		width: 100% !important;
	}
	
	.close-reveal-modal{
		font-family: Helvetica Neue;
	}
	
	.pop-up{
		display: none;
		position: fixed;
		padding: 15px 0px 20px 0px;
		width: 200px;
		background: rgba(0,0,0,0.7);
		padding: 15px 0px 20px 0;
		text-align: center;
		color: white;
		text-shadow: none;
		line-height: 19px;
		opacity: 0;
		.border-radius(10px);
		
	}
	


/* ========================================== */
/* ! Layout for iPad type things		      */
/* ========================================== */


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

	nav{
		position: static;
		
		.d_gallery{
			background-size: 117px auto;
		}
		.why{
			background-size: 49px auto;
		}
		.donate{
			background-size:70px auto;
		}
	}
	header{
		position: static;
	}
	.container{
		margin-top: 0px;
	}
	
	.pop-up{
		display: block;
		top: 10px;
		left: 7%;
		
			&:after{
			content: "";
			position: absolute;
			height: 0px;
			width: 0px;
			top: -15px;
			left: 50%;
			margin-left: -25px;
			background-color: transparent;
			border-bottom: 15px solid rgba(0,0,0,0.7);
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			.transform(rotate(360deg));
		}
	}
	

}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	nav{
		position: static;
		
		.why{
			display: none;
		}
		.d_gallery{
			display: none;
		}
		.donate{
			background:transparent url("../img/donate.png") no-repeat 48% center;
		}
		.four{
		
			&:before{
				position: absolute;
				height: 1px;
				width: 50%;
				content: "";
				top: 14px;
				left: 50%;
				margin-left: -25%;
				background-color: #5a5a5a;
				border-bottom: 1px solid #e6e6e6;
			}
			
			&:after{
				position: absolute;
				height: 1px;
				width: 50%;
				content: "";
				bottom: 12px;
				left: 50%;
				margin-left: -25%;
				background-color: #5a5a5a;
				border-bottom: 1px solid #e6e6e6;
			}
		}
	}
	header{
		position: static;
		padding: 20px 10px 0 10px;
		
		.row{
			.nine{
				background-size: 310px auto;
				height: 225px;
				}
			}
	}
	.container{
		margin-top: 0px;
	}
	footer{
		background: @bg-colour;
		.row{
			text-align: center;
			line-height: 95px;
			color: grey;
			
			#footer_top{
				text-align: center;
			}
			#font{
				text-align: center;
				cursor: pointer;
				float: none;
			}

			.columns{
				padding: 0px;
			}

			.three{
				font-size: 1.5em;
				height: 75px;
			}
			.four{
				font-size: 2.5em;
				height: 75px;
			}
			.one{
				display: none;
				visibility: hidden;
			}
		}
	}
	
	.pop-up{
		display: block;
		bottom: 10px;
		left: 50%;
		margin-left: -100px;
		
			&:after{
			content: "";
			position: absolute;
			height: 0px;
			width: 0px;
			bottom: -15px;
			left: 50%;
			margin-left: -25px;
			background-color: transparent;
			border-top: 15px solid rgba(0,0,0,0.7);
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			
		}
	}

}



/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media 
	
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) { 

		nav{
		
			.donate{
				background: transparent url("../img/donate@2x.png") no-repeat 48% center;
				background-size: 130px auto;
			}	
	}


}